<%- include header.ejs -%>
<div class="Haus-mynd">
  <%- title %>
</div>
<div class="grein-body">
  <%- body %>
  <div class="baka-grein">
    <a href='/' class="link">
      <p class="tilBaka">Til baka</p>
    </a>
  </div>
</div>


<%- include footer.ejs -%>
