<%- include header.ejs -%>
<div class="Haus-mynd">
  <p class="Fyrirsogn">Villa</p>
</div>
<div class="baka">
  <a href='/' class="link">
    <p class="tilBaka">Til baka</p>
  </a>
</div>
<%- include footer.ejs -%>
